/* .taskList {
  background-color: #2f2c47;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
li {
  list-style: none;
}
.timestamp {
  font-size: 1rem;
  font-size: 12px;
  color: #888;
  margin-left: 10px;
}
.completed .task-text {
  text-decoration: line-through;
}
.btnRmvTask {
  padding: 0.3rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  background-color: #fe636c;
  margin-left: 1rem;
  color: white;
  font-size: 12px;
}
 {
  background-color: red;
} */
