.taskForm {
  display: flex;
  justify-content: center;
}

.taskForm,
.taskList {
  background-color: #2f2c47;
  margin: 1rem;
  padding: 1rem;
}

.btnAddTask {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  background-color: #7e64ff;
  width: 90px;
  margin-left: 6px;
  font-size: 12px;
}

.btnAddTask:hover {
  background-color: #ccc2fe;
}

input {
  background-color: #ccc2fe;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 12px;
}

.taskCount {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  text-align: right;
}

@media only screen and (min-width: 900px) {
  .taskCount {
    max-width: 900px;
    margin: auto;
  }
}

@media only screen and (min-width: 400px) {
  .taskForm,
  .taskList {
    max-width: 600px;
    margin: auto;
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 900px) {
  .taskForm,
  .taskList,
  .taskCount {
    max-width: 900px;
    margin: auto;
  }
}

@media only screen and (max-width: 400px) {
  ul {
    padding: 1px;
  }

  .task-text {
    display: block;
    max-width: 100%;
    margin-bottom: 5px;
  }
}

li {
  list-style: none;
  margin-bottom: 1.5rem;
}

.timestamp {
  font-size: 8px;
  color: #888;
  margin-left: 10px;
  display: inline-block;
}

.completed .task-text {
  text-decoration: line-through;
}

.task-text {
  word-break: normal;
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  flex-grow: 1;
  min-width: 125px;
  word-break: break-word;
}
@media only screen and (max-width: 480px) {
  .task-text {
    display: block;
    max-width: 10%;
    margin-bottom: 5px;
  }

  .timestamp {
    margin-left: 10px;
    display: block;
  }
}

.btnRmvTask {
  padding: 0.3rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  background-color: #fe636c;
  color: white;
  font-size: 12px;
  display: inline-block;
  margin-left: 1rem;
}

.btnRmvTask:hover {
  background-color: #c2474e;
}

.taskList li {
  list-style: none;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.taskList input[type="checkbox"] {
  margin-right: 10px;
}

.taskList .timestamp {
  font-size: 9px;
  color: #888;
  margin-left: 10px;
}

.taskList .btnRmvTask {
  padding: 0.3rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  background-color: #fe636c;
  color: white;
  font-size: 12px;
}

.taskList .btnRmvTask:hover {
  background-color: #c2474e;
}
