body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #171723;
  color: #7c7d9f;
  font-size: 18px;
  margin: 0;
}

a {
  color: #4a90e2;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}
h2 {
  padding: 0 10px;
}

@media only screen and (min-width: 600px) {
  h2 {
    max-width: 600px;
    margin: auto;
    padding: 0;
  }
}

@media only screen and (min-width: 900px) {
  h2 {
    max-width: 900px;
    margin: auto;
    padding: 0;
  }
}
